// ## Colors ##
$color-primary: #00838f
$color-primary-super-light: #e0f7fa
$color-primary-light: #4fb3bf
$color-primary-dark: #005662

$color-secondary: #795548
$color-secondary-super-light: #efebe9
$color-secondary-hovered: #bcaaa4
$color-secondary-light: #a98274
$color-secondary-dark: #4b2c20
$color-secondary-super-dark: #3e2723

$color-white: #FFFFFF
$color-black: #000000
$color-text: $color-black

$color-bg: #c0c0c0
$color-bg-light: $color-white
$color-bg-dark: #aeaeae
$color-icon: #00695c
$color-danger: #ff3d00
$color-placeholder: $color-bg
$color-border: $color-bg
$color-card: $color-white
$color-label: $color-text
$color-btn-disabled: $color-placeholder

$color-orange: #FF6600
$color-green: #076639

$color-gradient: linear-gradient(90deg, $color-primary-light 0%, $color-primary-dark 100%)
$color-gradient-light: linear-gradient(90deg, $color-primary-super-light 0%, $color-secondary-super-light 100%)
$color-gradient-dark: linear-gradient(90deg, $color-primary 0%, $color-secondary 100%)

$color-gradient-15: linear-gradient(90deg, rgba($color-primary-light, 0.15) 0% , rgba($color-primary-dark, 0.15) 100%)
$color-gradient-60: linear-gradient(90deg, rgba($color-primary-light, 0.6) 0%, rgba($color-primary-dark, 0.6) 100%)