@import "~theme/common-style"

.Navbar
  background: $color-secondary-super-light
  height: 63px
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 9
  +screen-hg
    height: 72px

  &__back
    float: right
    margin: 1.1rem 2rem
